@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import 'variables';

.post-section {

    .container {


        .post_title {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            padding-top: 5rem;
        }

        .image-gallery {

            .main-image {

                img {

                    width: 100%;
                }
            }
        }

        .thumbnail-images {

            .thumbnails {
                li {
                    list-style: none;
                    display: inline-block;
                    margin-right: 1rem;
                    margin-bottom: 1rem;
                    margin-top: 1rem;
                    img {
                        width: 150px;
                    }
                }

                .open_gallery {
                    width: 150px;
                    height: 100px;
                    background: khaki;
                    transform: translateY(-19%);


                    a {
                        i {
                            position: relative;
                            color: black;
                            font-size: 2.5rem;
                            top: 25%;
                            right: -35%;
                        }
                    }

                    &_label {
                        font-family: 'Poppins', sans-serif;
                        font-weight: 600;
                    }
                }
            }

        }


        .post_title{
            position: relative;
            margin-top: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
        }
    }
    

    .quick_icons {
        margin-top: 3rem;
        margin-bottom: 1rem;
        .main_icons {
            display:inline-block;
        }


        #btn_phone {
            font-family: 'Poppins', sans-serif;
            font-size: 15px;
            background: #fff;
            border-radius: 5px;
            border: 2px solid #e7e7e7; 
        }

        .side_icons {
            
            border: none;
        }

        a {
            font-size: 24px;
            color: $seablue-light;
            border: 1px solid #ccc;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display:inline-block;
            text-align: center;
            border-radius: 10px;
            margin: 0 8px;
            opacity: 0.75;

            &:hover {
                opacity: 1;
            }
        }
    }
    

    &_description {
        background: chocolate;
    }

    h2 {
        margin-top: 4rem;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
    }


    .table {
        
        font-family: 'Poppins', sans-serif;
        margin-bottom: 4rem;
    }
}

#mainpost-title {
    padding-top: 7rem;
    font-weight: 500;
    font-size: 1.7rem;
}

#info-box {
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;

    dt{
        padding-top: 0.6rem;
    }

    dd {
        border-bottom: 1px solid #e7e7e7;
        padding-top: -1rem;
        i{
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
    
}
