@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import 'variables';
.main-section {
    position: relative;
    margin-top: 8rem;
    .container {

        .row {
            background-color: #fff;
        }
    }

    img {
        padding-top: 1rem;
        height: 128px;
    }

    .title {
        font-family: 'Poppins', sans-serif;
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .card {
        padding-left: 1rem;
        margin: 1rem 1rem 1rem 1rem;
    }

    .postrow {
        padding-bottom: 1.3rem;
    }


    .card-title {
        
        a{
            text-decoration: none;
            color:$black;
            &:hover{
                color: $seablue-light;
            }
        }
    }
    
}