@import 'variables';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Poppins:wght@400;500;600;700;800;900&display=swap");


li::marker {

    color:$seablue-light;
    font-weight: 700;
}

.rules {
    font-family: 'Poppins', sans-serif;
}