@import 'post-section';
@import 'dropdown';
@import 'post';
@import 'variables';
@import 'footer';
@import 'rules';
@import 'about';
@import 'privacypolicy';
@import 'post-page';
@import 'guesthouse';
@import 'map';

.nav-item-location {

    &-list {
        display: flex;
        li {
            padding: 0.5rem;
            list-style: none;

            a {
                position: relative;
                display: block;
                padding: 10px 20px;
                text-decoration: none;
                color: #262626;
                font-weight: bold;
                
            }
        }
    }
}

.locations {
    .row {


        li {
            list-style: none;
        }
    }
     
}

.logo {
    position: absolute;
    z-index: 1500;
    top: 15px;
}

